URL_ORIGIN=http://localhost:4000
SESSION_SECRET=enter_your_session_secret_here
DIRECT_AUTH_SECRET=enter_your_direct_auth_secret_here
INTRA_API_UID=enter_your_uid_here
INTRA_API_SECRET=enter_your_secret_here
INTRA_CAMPUS_ID=14
INTRA_PISCINE_ASSISTANT_GROUP_ID=68

POSTGRES_USER=enter_a_postgres_user_here
POSTGRES_PASSWORD=enter_a_postgres_password_here
POSTGRES_DB=hero
POSTGRES_HOST=localhost

# Below environment variable is used by Prisma to connect to the database
# It should be in the format: postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@<POSTGRES_HOST>:5432/<POSTGRES_DB>
# In DEVELOPMENT MODE when not using Docker to run the NodeJS code, POSTGRES_HOST should be "localhost",
# while in PRODUCTION MODE, when Docker is used to run the NodeJS code, POSTGRES_HOST should be "codamhero-postgres" (the name of the postgres container in docker-compose.yml)
PRISMA_DB_URL=postgresql://enter_a_postgres_user_here:enter_a_postgres_password_here@codamhero-postgres:5432/hero
