:root {
	--blue: #3AA2DB;
	--indigo: #6610f2;
	--purple: #B73188;
	--pink: #e83e8c;
	--red: #E52A2D;
	--bg-red: #e3cccc;
	--orange: #EA5C28;
	--yellow: #F2911A;
	--green: #1c7e3f;
	--bg-green: #c9fbd3;
	--teal: #20c997;
	--cyan: #434849;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #3AA2DB;
	--secondary: #6c757d;
	--success: #32B796;
	--info: #17a2b8;
	--warning: #F2911A;
	--danger: #E52A2D;
	--light: #f8f9fa;
	--dark: #343a40;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.userlist {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	grid-auto-rows: 1fr;
	list-style-type: none;
	margin: 0;
	padding: 0;
	grid-template-columns: 3;
}

.userlist .user {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 8px;
	padding: 20px;
	border: solid 1px var(--gray-dark);
	border-radius: 4px;
}

.user .name {
	font-weight: bold;
	font-size: x-large;
}

.user .login {
	margin: 6px 0;
	font-size: 16px;
}

.user .login a {
	text-decoration: none;
	color: var(--blue);
	cursor: pointer;
}

.user .login a:hover,
.user .login a:active,
.user .login a:focus {
	text-decoration: underline;
}

.user .pool {
	font-size: small;
}

.user .picture {
	display: block;
	margin: 20px auto;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	object-fit: cover;

	/* fallback image */
	background-image: url('/images/default.png');
	background-size: cover;
	background-position: center center;
}

.user.piscine .logtime-table {
	width: 100%;
	font-size: smaller;
	margin: 20px 0;
	border-top: solid 1px var(--gray-dark);
	border-bottom: solid 1px var(--gray-dark);
}

.user.piscine .logtime-table tr th,
.user.piscine .logtime-table tr td {
	padding: 0px 4px;
	width: 20%;
	text-align: center;
}

.user.piscine .projects-table {
	display: grid;
	grid-template-columns: repeat(4, minmax(25%, 1fr));
	grid-auto-rows: 50px;
}

.user.piscine .projects-table .project {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 2px;
	padding: 4px;
	border: solid 1px #3a3a3a;
	border-radius: 4px;
	text-decoration: none;
	color: initial;
	transition: 0.1s;
}

.user.piscine .projects-table .project.not_started {
	opacity: 0.35;
}

.user.piscine .projects-table .project.validated {
	background-color: var(--bg-green);
}

.user.piscine .projects-table .project.failed {
	background-color: var(--bg-red);
}

.user.piscine .projects-table .project:hover,
.user.piscine .projects-table .project:focus {
	transition: 0.03s;
	box-shadow: 0 0 2px 1px var(--blue);
	opacity: 1;
}

.user.piscine .projects-table .project .project-name {
	white-space: nowrap;
}

.user.piscine .projects-table .project .project-mark {
	display: block;
	color: var(--gray);
}

.user.piscine .projects-table .project.validated .project-mark {
	font-size: large;
	font-weight: bold;
	color: var(--green);
}

.user.piscine .projects-table .project.failed .project-mark {
	font-size: large;
	font-weight: bold;
	color: var(--red);
}
