/* *************************************** */
/* General colors and variables            */
/* *************************************** */

:root {
	--blue: #3AA2DB;
	--indigo: #6610f2;
	--purple: #B73188;
	--pink: #e83e8c;
	--red: #E52A2D;
	--bg-red: #e3cccc;
	--orange: #EA5C28;
	--yellow: #F2911A;
	--green: #1c7e3f;
	--bg-green: #c9fbd3;
	--teal: #20c997;
	--cyan: #434849;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: var(--blue);
	--secondary: #6c757d;
	--success: #32B796;
	--info: #17a2b8;
	--warning: #F2911A;
	--danger: #E52A2D;
	--light: #f8f9fa;
	--dark: #343a40;
}

/* *************************************** */
/* General                                 */
/* *************************************** */

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--blue);
	cursor: pointer;
}

a:hover,
a:active,
a:focus {
	text-decoration: underline;
}

/* *************************************** */
/* Header                                  */
/* *************************************** */

header {
	display: flex;
	position: fixed;
	width: 100%;
	height: 56px;
	justify-content: start;
	align-items: center;
	background-color: var(--primary);
	color: var(--white);
	white-space: nowrap;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	z-index: 999;
	user-select: none;
}

header h1 {
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 0 8px;
}

header h2:not(:empty)::before,
header h3:not(:empty)::before {
	content: '›';
	margin: 0 5px;
}

header h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	color: var(--light);
}

header h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	color: var(--light);
}

header #menu-toggler {
	display: block;
	float: right;
	width: 56px;
	height: 56px;
	border: none;
	background: transparent;
	color: var(--white);
	font-size: 30px;
	padding-bottom: 5px; /* to center the icon */
	cursor: pointer;
	outline: 0;
	transition: 0.1s;
}

header #menu-toggler:hover,
header #menu-toggler:focus {
	background-color: rgba(0,0,0,.14);
	transition: 0.03s;
}

header #menu-container {
	position: absolute;
	display: block;
	top: 50px;
	left: -100%;
	background: var(--secondary);
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	transition: 0.1s;
	border-radius: 4px;
}

header #menu-container.open {
	left: 0px;
	transition: 0.03s;
}

header #menu-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header #menu-container ul li:first-child a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

header #menu-container ul li:last-child a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

header #menu-container ul li a {
	display: block;
	line-height: 46px;
	padding: 0 32px 0 16px;
	color: var(--white);
	outline: 0;
	cursor: pointer;
	transition: 0.1s;
}

header #menu-container ul li a:hover,
header #menu-container ul li a:active,
header #menu-container ul li a:focus {
	text-decoration: none;
	background-color: var(--primary);
	color: var(--white);
	transition: 0.03s;
}

/* *************************************** */
/* Main content container                  */
/* *************************************** */

main {
	margin-top: 56px;
	padding: 8px;
	/* apply scrollbar to main instead of body */
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	height: calc(100vh - 72px);
	height: -webkit-calc(100vh - 72px);
	height: -moz-calc(100vh - 72px);
	height: -ms-calc(100vh - 72px);
	height: -o-calc(100vh - 72px);
}

main.noheader {
	margin-top: 0px !important;
	height: 100vh !important;
}

nav {
	display: block;
	margin: 16px 0;
	font-size: large;
}

nav a {
	display: inline-block;
	margin: 0 8px;
}

/* *************************************** */
/* Userlist & piscine overview             */
/* *************************************** */

.userlist-header {
	display: block;
	margin: 8px 0;
}

.userlist-header select {
	padding: 4px;
	margin: 4px;
	font-size: 16px;
	border-radius: 4px;
}

.userlist-header button,
.userlist-header .button {
	display: inline-block;
	padding: 4px 8px;
	margin: 4px;
	font-size: 16px;
	cursor: pointer;
	background: var(--primary);
	color: var(--white);
	border: solid 1px var(--primary);
	border-radius: 4px;
	transition: 0.1s;
	text-decoration: none !important;
}

.userlist-header button:hover,
.userlist-header button:focus,
.userlist-header .button:hover,
.userlist-header .button:focus {
	background: var(--secondary);
	border-color: var(--secondary);
	transition: 0.03s;
}

.userlist {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	grid-auto-rows: 1fr;
	gap: 8px;
	list-style-type: none;
	margin: 8px auto;
	padding: 0;
	grid-template-columns: 3;
}

.userlist .user {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--gray-dark);
	border-radius: 4px;
}

.userlist .user.dropout {
	transition: 0.1s;
	opacity: 0.7;
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

.userlist .user.dropout:hover {
	transition: 0.03s;
	opacity: 0.9;
	filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
	-o-filter: grayscale(50%);
}

.userlist .user.dropout .level {
	color: var(--red);
}

.user .name {
	font-weight: bold;
	font-size: x-large;
}

.user.dropout .name {
	text-decoration: line-through;
}

.user .login {
	margin: 6px 0;
	font-size: 16px;
}

.user .pool {
	font-size: small;
}

.user .picture {
	display: block;
	margin: 20px auto;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	object-fit: cover;

	/* fallback image */
	background-image: url('/images/default.png');
	background-size: cover;
	background-position: center center;
}

.user.piscine .logtime-table {
	width: 100%;
	font-size: smaller;
	margin: 20px 0;
	border-top: solid 1px var(--gray-dark);
	border-bottom: solid 1px var(--gray-dark);
}

.user.piscine .logtime-table tr th,
.user.piscine .logtime-table tr td {
	padding: 0px 4px;
	width: 20%;
	text-align: center;
}

.user.piscine .projects-table {
	display: grid;
	grid-template-columns: repeat(4, minmax(25%, 1fr));
	grid-auto-rows: 50px;
}

.user.piscine .projects-table .project {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 2px;
	padding: 4px;
	border: solid 1px var(--gray-dark);
	border-radius: 4px;
	text-decoration: none;
	color: initial;
	transition: 0.1s;
}

.user.piscine .projects-table .project.not_started {
	opacity: 0.35;
	font-style: italic;
}

.user.piscine .projects-table .project.validated {
	background-color: var(--bg-green);
}

.user.piscine .projects-table .project.failed {
	background-color: var(--bg-red);
}

.user.piscine .projects-table .project:hover,
.user.piscine .projects-table .project:focus {
	transition: 0.03s;
	box-shadow: 0 0 2px 1px var(--blue);
	opacity: 1;
	text-decoration: none;
}

.user.piscine .projects-table .project .project-name {
	white-space: nowrap;
}

.user.piscine .projects-table .project .project-mark {
	display: block;
	color: var(--gray);
	font-size: large;
}

.user.piscine .projects-table .project.validated .project-mark,
.user.piscine .projects-table .project.failed .project-mark {
	font-weight: bold;
}

.user.piscine .projects-table .project.validated .project-mark {
	color: var(--green);
}

.user.piscine .projects-table .project.failed .project-mark {
	color: var(--red);
}

/* *************************************** */
/* Media queries for user overview         */
/* *************************************** */

/* on phones, make userlists smaller in size to make sure there's always room for 2 users per row.
When the screen is rotated into landscape mode it should provide an extra good overview. */
@media (max-width: 600px), screen and (max-height: 600px) and (orientation:landscape) {
	.userlist {
		zoom: 0.5;
	}

	.user .name {
		font-size: xx-large;
	}

	.user .login,
	.user .pool,
	.user .level {
		font-size: x-large;
	}

	.user.piscine .logtime-table tr td {
		font-size: medium;
	}

	.user.piscine .last-seen,
	.user.piscine .currently-in {
		font-size: large;
	}

	.user.piscine .projects-table {
		grid-auto-rows: 56px;
	}

	.user.piscine .projects-table .project .project-mark {
		font-size: x-large;
	}
}

/* *************************************** */
/* Clustermap                              */
/* *************************************** */

#clustermap-main-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Try to fit 2 clustermaps next to each other on larger screens
 * and 1 clustermap on smaller screens */
#clustermap-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	flex-direction: row;
	min-height: 0; /* needed to fit the container within the flexbox */
}

.clustermap {
	max-height: 100%;
	/* aspect-ratio: 0.65 / 1; */
	max-width: 100%;
}

#history-playback-range-value {
	font-family: monospace;
}
