<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<title>{{ title | e if title }}{{ " > " + subtitle | e if subtitle }}{{ " | " if title or subtitle }}Codamhero v2</title>
	<link rel="stylesheet" href="/css/base.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
	<!-- theme color -->
	<meta name="theme-color" content="#3AA2DB"  />
</head>
<body>
	{% if not noheader %}
	<header>
		<a href = "/"> <img src="" alt="CODAMHERO" class="logo" id="header-logo" /> </a>
		<nav id="header-nav">
		{% if not nonav %}
			<a class="navigation" href="/clustermap">Clustermap</a>
			<a class="navigation" href="/directory">Directory</a>
			<a class="navigation" href="/piscine">Piscine Overview</a>
		{% endif %}
		<a id="contribute" class="main-navigation" href="https://github.com/codam-coding-college/codamhero-v2">CONTRIBUTE</a>
		<a id="logout" class="main-navigation" href="/logout">LOGOUT</a>
		</nav>
		{% if not nodropdown %}
			<nav id="drop-down-nav">
				<a href="/clustermap">Cluster Map</a>
				<a href="/piscines">Piscine Overview</a>
				<a href="/disco">Disco Piscine Overview</a>
				<a href="/users/students">Student Directory</a>
				<a href="/users/pisciners">Piscine Directory</a>
				<a href="/users/disco">Disco Piscine Directory</a>
				<a href="/users/alumni">Alumni Directory</a>
				<a href="/users/staff">Staff Directory</a>
			</nav>
		{% endif %}
	</header>
	{% endif %}
	<script>
		/* Menu toggler */
		const menuToggler = document.getElementById('menu-toggler');
		const menuContainer = document.getElementById('menu-container');
		menuToggler.addEventListener('click', () => {
			menuContainer.classList.toggle('open');
			// Remove the menu on click outside
			document.addEventListener('click', function closeMenu(e) {
				if (!menuContainer.contains(e.target) && !menuToggler.contains(e.target)) {
					menuContainer.classList.remove('open');
					document.removeEventListener('click', closeMenu);
				}
			});
		});
	</script>
	<main class="{{ 'noheader' if noheader }}">
		{% block content %}{% endblock %}
	</main>
</body>
</html>
