<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ title | e if title }}{{ " > " + subtitle | e if subtitle }}{{ " | " if title or subtitle }}Codamhero v2</title>
	<link rel="stylesheet" href="/css/base.css" />
	<!-- theme color -->
	<meta name="theme-color" content="#3AA2DB" />
</head>
<body>
	{% if not noheader %}
	<header>
		<img src="" alt="CODAMHERO" class="logo" id="header-logo" />
		<nav id="header-nav">
			{% if not nonav %}
				<a href="/clustermap">Clustermap</a>
				<a href="/directory">Directory</a>
				<a href="/piscine">Piscine Overview</a>
			{% endif %}
			<a href="https://github.com/codam-coding-college/codamhero-v2" target="_blank">Contribute</a>
			<a href="/logout">Logout</a>
		</nav>
	</header>
	{% endif %}
	<script>
		/* Menu toggler */
		const menuToggler = document.getElementById('menu-toggler');
		const menuContainer = document.getElementById('menu-container');
		menuToggler.addEventListener('click', () => {
			menuContainer.classList.toggle('open');
			// Remove the menu on click outside
			document.addEventListener('click', function closeMenu(e) {
				if (!menuContainer.contains(e.target) && !menuToggler.contains(e.target)) {
					menuContainer.classList.remove('open');
					document.removeEventListener('click', closeMenu);
				}
			});
		});
	</script>
	<main class="{{ 'noheader' if noheader }}">
		{% block content %}{% endblock %}
	</main>
</body>
</html>
