{% extends "base.njk" %}

{% set title = "" %}

{% block content %}
	<p>Welcome to the new CodamHero. It is still a work-in-progress and needs some styling, but the most important features are already there.</p>
	<p>Pull requests on the <a class="external" href="https://github.com/codam-coding-college/codamhero-v2" target="_blank">GitHub repository</a> are much appreciated! Though please refrain from rebuilding the entire application or introducing 600 frameworks ;)</p>
	<ul>
		<li><a href="/clustermap">Clustermap</a></li>
		<li><a href="/users">List of all students/pisciners/staff</a></li>
		{% if user.isStudentOrStaff %}
		<li><a href="/piscines">C Piscine overview</a></li>
		<li><a href="/disco">Discovery Piscine overview</a></li>
		{% endif %}
		<li><a href="/logout">Logout</a></li>
	</ul>
	<h4>Last synchronizations:</h4>
	<ul style="font-size: small;">
		{% for sync in syncTimes %}
			<li>{{ sync.kind | e }} - {{ sync.last_synced_at | e }} ({{ sync.last_synced_at | timeAgo }})</li>
		{% endfor %}
	</ul>
{% endblock %}
