{% extends "base.njk" %}

{% set title = "" %}
{% set nonav = true %}
{% block content %}
<div class='welcome'>
	<h2>Welcome to CodamHero</h2>
	<p>> last sync: {{ syncTimes[0].kind | e }} - {{ syncTimes[0].last_synced_at | e }} ({{ syncTimes[0].last_synced_at | timeAgo }})</p>
</div>
<div class='grid'>
	
</div>
		<li><a href="/clustermap">Clustermap</a></li>
		<li>List of all:
			<ul>
				<li><a href="/users/students">Students</a></li>
				<li><a href="/users/alumni">Alumni</a></li>
				<li><a href="/users/pisciners">Pisciners</a></li>
				<li><a href="/users/disco">Discovery Pisciners</a></li>
				<li><a href="/users/staff">Staff</a></li>
			</ul>
		</li>
		{% if user.isStudentOrStaff %}
		<li><a href="/piscines">C Piscine overview</a></li>
		<li><a href="/disco">Discovery Piscine overview</a></li>
		{% endif %}
		<li><a href="/logout">Logout</a></li>
	</ul>
	
{% endblock %}
