{% extends "base.njk" %}
{% set noheader = true %}
{% set title = "Log in" %}

{% block content %}
	<div class="login-container">
		<img src="" alt="CODAM HERO" class="login-logo" />
		<a href="/login/42" class="login-button">Log in with 42</a>
	</div>
{% endblock %}
