{% extends "base.njk" %}

{% block title %}Log in to CodamHero{% endblock %}

{% block content %}
	<h1>Log in to CodamHero</h1>
	<p><a href="/login/42">Click here to log in with your 42 account.</a></p>
{% endblock %}
