{% extends "base.njk" %}
{% set noheader = true %}
{% set title = "Log in failed" %}

{% block content %}
	<h1>Log in to CodamHero failed</h1>
	<p>An error occurred while logging in. <a href="/login">Click here to try again.</a></p>
{% endblock %}
