{% extends "base.njk" %}

{% block title %}Log in to CodamHero failed{% endblock %}

{% block content %}
	<h1>Log in to CodamHero failed</h1>
	<p>An error occurred while logging in. <a href="/login">Click here to try again.</a></p>
{% endblock %}
