{% extends "base.njk" %}
{% set title = "C Piscines" %}

{% block content %}
<!-- Fair warning -->
<center>
	<h1 style="color: red;">Do not show this page to candidates!</h1>
	<h2 style="color: red;">Do not tell them this exists, they cannot access it but it gives the wrong impression.</h2>
</center>

<div class="userlist-header">
	{# if c piscines are defined in the data given to the template, display a selection #}
	{% if piscines %}
		<select id="piscine-selector">
			{% for piscine in piscines %}
				{# add selected attribute if the current piscine is the one selected (check url against piscine.month_num and piscine.year_num) #}
				<option value="{{ piscine.year_num | int }}-{{ piscine.month_num | int }}" {{ "selected" if piscine.year_num == year and piscine.month_num == month }}>{{ piscine.year | int }} - {{ piscine.month | e }} ({{ piscine.user_count | int }})</option>
			{% endfor %}
			{% if piscines|length == 0 %}
				<option disabled selected>No access to any C Piscines...</option>
			{% endif %}
		</select>
		<script>
			document.getElementById('piscine-selector').addEventListener('change', function() {
				window.location.href = '/piscines/' + this.value.replace('-', '/');
			});
		</script>
	{% endif %}

	<select id="sort-dropdown">
		<option value="firstname" selected>Sort by first name</option><!-- default sort, already done on server side -->
		<option value="lastname">Sort by last name</option>
		<option value="login">Sort by login</option>
		<option value="lastseen">Sort by last seen</option>
		<option value="totallogtime">Sort by total logtime</option>
		<option value="potentialdropout">Sort by potential dropout</option>
		<option value="level">Sort by level</option>
		<option value="student">Sort by active students</option>
	</select>
	<script>
	document.getElementById('sort-dropdown').addEventListener('change', function() {
		const sortValue = this.value;
		const users = document.querySelectorAll('.user.piscine');
		const sortedUsers = Array.from(users).sort((a, b) => {
			// Sort by dropout status first
			const aDropout = a.classList.contains('dropout');
			const bDropout = b.classList.contains('dropout');
			if (aDropout && !bDropout) return 1;
			if (!aDropout && bDropout) return -1;

			// And then by the selected value
			const aVal = a.getAttribute('data-' + sortValue);
			const bVal = b.getAttribute('data-' + sortValue);
			if (sortValue === 'firstname' || sortValue === 'lastname' || sortValue === 'login') {
				return aVal.localeCompare(bVal);
			} else {
				return bVal - aVal;
			}
		});
		const userList = document.querySelector('.userlist.piscine');
		sortedUsers.forEach(user => userList.appendChild(user));
	});
	</script>

	<a class="button" id="csv-download-link" href="/piscines/{{ year | int }}/{{ month | int }}/csv" download="piscine-{{ year | int }}-{{ month | int }}-export.csv">Export CSV</a>
	<script>
	// Add the current date to the filename of the CSV export
	const csvDownloadLink = document.getElementById('csv-download-link');
	const date = new Date();
	const formattedDate = date.toISOString().slice(0, 10);
	csvDownloadLink.download = `piscine-{{ year | int }}-{{ month | int }}-export-${formattedDate}.csv`;
	</script>

	{# get the list of dropouts filtered by values of true #}
	<span class="piscine-info"><b>Statistics:</b> candidates: {{ users | length }}, dropouts: {{ dropouts | objectValues | filter("true") | length }}, potential dropouts: {{ potentialDropouts | objectValues | filter("true") | length }}, remaining: {{ users | length - (dropouts | objectValues | filter("true") | length + potentialDropouts | objectValues | filter("true") | length) }}{# I know, too long of a line... #}</span>
</div>
<ul class="userlist piscine">
	{% for user in users %}
		<!-- display user information -->
		<li class="user piscine{{ " dropout" if dropouts[user.login] }}{{ " potential-dropout" if potentialDropouts[user.login] }}"
				data-firstname="{{ (user.usual_first_name | lower | e) if user.usual_first_name else (user.first_name | lower | e) }}"
				data-lastname="{{ user.last_name | lower | e }}"
				data-login="{{ user.login | e }}"
				data-lastseen="{{ (user.locations[0].begin_at | timestamp) if user.locations.length > 0 else 0 }}"
				data-totallogtime="{{ logtimes[user.login].total }}"
				data-level="{{ user.cursus_users[0].level | formatFloat }}"
				data-student="{{ "1" if activeStudents[user.login] else "0" }}"
				data-potentialdropout="{{ "1" if potentialDropouts[user.login] else "0" }}" >
		<!-- big li element above, spanning multiple lines -->
			<div class="basic-info">
				<div class="name">{{ user.usual_full_name | e }}</div>
				<div class="login" title="User ID {{ user.id | int }}"><a class="external" target="_blank" href="https://profile.intra.42.fr/users/{{ user.login | e }}/">{{ user.login | e }}</a>{% if activeStudents[user.login] %} <span class="badge" title="User is currently an active student">Student</span>{% endif %}</div>
				<div class="level">{{ user.cursus_users[0].level | formatFloat }}{{ " (dropout)" if dropouts[user.login] }}{{ " (potential dropout)" if potentialDropouts[user.login] }}</div>
				<img class="picture" src="{{ user.image if user.image else "/images/default.png" }}" loading="lazy" />
			</div>

			<div class="cursus-overview piscine">
				{% if user.locations.length > 0 and not user.locations[0].end_at %}
					<div class="currently-in">Available: <a target="clustermap" title="Locate on clustermap" href="/clustermap/live/#{{ user.locations[0].host | e }}">{{ user.locations[0].host | e }}</a></div>
				{% else %}
					<div class="last-seen">Last seen: {{ user.locations[0].end_at | timeAgo }}</div>
				{% endif %}
				<table class="logtime-table">
					<tr>
						<th>Week 1</th>
						<th>Week 2</th>
						<th>Week 3</th>
						<th>Week 4</th>
						<th>Total</th>
					</tr>
					<tr>
						<td>{{ logtimes[user.login].weekOne | formatSeconds }}</td>
						<td>{{ logtimes[user.login].weekTwo | formatSeconds }}</td>
						<td>{{ logtimes[user.login].weekThree | formatSeconds }}</td>
						<td>{{ logtimes[user.login].weekFour | formatSeconds }}</td>
						<td>{{ logtimes[user.login].total | formatSeconds }}</td>
					</tr>
				</table>
				<div class="projects-table">
					{% for project in user.project_users %}
						<a class="project {{ project.status | e }} {{ "validated" if project.validated else ("failed" if project.marked_at) }}" target="_blank" href="https://projects.intra.42.fr/{{ project.project.slug | e }}/{{ user.login | e }}" title="Project User ID {{ project.id | int }}">
							<small class="project-name">{{ project.project.name | removeCPiscinePrefix | e }}</small>
							<span class="project-mark">{{ project | formatProjectStatus }}</span>
						</a>
					{% endfor %}
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
{% endblock %}
