{% extends "base.njk" %}

{% block title %}CodamHero is starting...{% endblock %}

{% block content %}
	<h1>CodamHero is starting...</h1>
	<p>Please come back in a few minutes, when the synchronization with 42's Intra API has completed.</p>
{% endblock %}
