{% extends "base.njk" %}
{% set title = "Users" %}

{% block content %}
<!-- selection of users -->
<nav>
	<a class="userlist-selector" href="/users/students">Students</a>
	<a class="userlist-selector" href="/users/pisciners">C Pisciners</a>
	<a class="userlist-selector" href="/users/disco">Discovery Pisciners</a>
	<a class="userlist-selector" href="/users/staff">Staff</a>
</nav>

<div class="userlist-header">
	{# if c piscines are defined in the data given to the template, display a piscine selection #}
	{% if piscines %}
		<select id="piscine-selector">
			{% for piscine in piscines %}
				{# add selected attribute if the current piscine is the one selected (check url against piscine.month_num and piscine.year_num) #}
				<option value="{{ piscine.year_num | int }}-{{ piscine.month_num | int }}" {{ "selected" if piscine.year_num == year and piscine.month_num == month }}>{{ piscine.year | int }} - {{ piscine.month | e }} ({{ piscine.user_count | int }})</option>
			{% endfor %}
		</select>
		<script>
			document.getElementById('piscine-selector').addEventListener('change', function() {
				window.location.href = '/users/pisciners/' + this.value.replace('-', '/');
			});
		</script>
	{% endif %}
	{# if discovery piscines are defined in the data given to the template, display a piscine selection #}
	{% if discopiscines %}
		<select id="disco-selector">
			{% for disco in discopiscines %}
				{# add selected attribute if the current piscine is the one selected (check url against piscine.year_num and piscine.week_num and the cursusid) #}
				<option value="{{ disco.year_num | int }}-{{ disco.week_num | int }}-{{ disco.cursus.id | int }}" {{ "selected" if disco.year_num == year and disco.week_num == week and disco.cursus.id == cursus_id }}>{{ disco.year | int }} - week {{ disco.week | e }}: {{ disco.cursus.name | removeDiscoPiscineCursusPrefix | e }} ({{ disco.user_count | int }})</option>
			{% endfor %}
		</select>
		<script>
			document.getElementById('disco-selector').addEventListener('change', function() {
				window.location.href = '/users/disco/' + this.value.replaceAll('-', '/');
			});
		</script>
	{% endif %}
	{# if cohorts are defined in the data given to the template, display a cohort year selection #}
	{% if cohorts %}
		<select id="cohort-selector">
			<option value="0">All cohorts</option>
			{% for cohort in cohorts %}
				{# add selected attribute if the current cohort is the one selected (check url against cohort.year) #}
				<option value="{{ cohort.year_num | int }}" {{ "selected" if cohort.year == year }}>{{ cohort.year_num | int }} cohort ({{ cohort.user_count_active | int }} / {{ cohort.user_count | int }})</option>
			{% endfor %}
		</select>
		<script>
			document.getElementById('cohort-selector').addEventListener('change', function() {
				window.location.href = '/users/students/' + (!parseInt(this.value) ? '' : this.value);
			});
		</script>
	{% endif %}
</div>
<ul class="userlist">
	{% for user in users %}
		<!-- display user information -->
		<li class="user {{ user.cursus_users[0] | markDropout }}">
			<div class="name">{{ user.usual_full_name | e }}</div>
			<div class="login" title="User ID {{ user.id | int }}"><a class="external" target="_blank" href="https://profile.intra.42.fr/users/{{ user.login | e }}/">{{ user.login | e }}</a></div>
			<div class="pool">{{ user.pool_month | e }} {{ user.pool_year | int }}</div>
			<img class="picture" src="{{ user.image | e if user.image else "/images/default.png" }}" loading="lazy" />
		</li>
	{% endfor %}
</ul>
{% endblock %}
