{% extends "base.njk" %}

{% block title %}List of all pisciners / students / staff{% endblock %}

{% block content %}
<!-- selection of users -->
<nav>
	<a class="userlist-selector" href="/users/students">Students</a>
	<a class="userlist-selector" href="/users/pisciners">Pisciners</a>
	<a class="userlist-selector" href="/users/staff">Staff</a>
</nav>

<!-- if piscines are defined in the data given to the template, display a selection -->
{% if piscines %}
	<select id="piscine-selector">
		{% for piscine in piscines %}
			<!-- add selected attribute if the current piscine is the one selected (check url against piscine.month_num and piscine.month_year) -->
			<option value="{{ piscine.year_num }}-{{ piscine.month_num }}" {{ "selected" if piscine.year_num == year and piscine.month_num == month }}>{{ piscine.year }} - {{ piscine.month }} </option>
		{% endfor %}
	</select>
	<script>
		document.getElementById('piscine-selector').addEventListener('change', function() {
			window.location.href = '/users/pisciners/' + this.value.replace('-', '/');
		});
	</script>
{% endif %}

<ul class="userlist">
	{% for user in users %}
		<!-- display user information -->
		<li class="user">
			<div class="name">{{ user.display_name }}</div>
			<div class="login"><a href="https://profile.intra.42.fr/users/{{ user.login }}/">{{ user.login }}</a></div>
			<div class="pool">{{ user.pool_month }} {{ user.pool_year}}</div>
			<img class="picture" src="/images/{{ user.login }}" loading="lazy" />
		</li>
	{% endfor %}
</ul>
{% endblock %}
